@model IEnumerable<LAP.Web.Models.StornoModel>

@{
    ViewBag.Title = "Stornierungen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stornierungen</h2>

<div>
    <h4>StornoModel</h4>
    <hr />
    @foreach (var item in Model)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Benutzername)
            </dt>

            <dd>
                @Html.DisplayFor(Model => item.Benutzername)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gebäude)
            </dt>
            <dd>
                @Html.DisplayFor(Model => item.Gebäude)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Firma)
            </dt>
            <dd>
                @Html.DisplayFor(Model => item.Firma)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Grund)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Grund)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Raum)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Raum)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Datum)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Datum)
            </dd>

        </dl>
    }

</div>
<p>
    <a class="btn buttonAction" href="@Url.Action("Index", "Mitarbeiter")">Index</a>
</p>
