@model LAP.Web.Models.RechnungModel

@{
    ViewBag.Title = "RechnungAnzeigen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rechnung</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)

        <dt>
            @Html.DisplayNameFor(model => model.LieferDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LieferDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AustellungsDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AustellungsDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bezeichnung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bezeichnung)
        </dd>

        <dt>
            @Html.DisplayName("Anzahl")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Betrag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ust)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ust)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZuZahlenderBetrag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZuZahlenderBetrag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UidLiefernder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UidLiefernder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UidEmpfänger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UidEmpfänger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RechnungsNummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RechnungsNummer)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Download", "RechnungPdfAnzeigen", new { id = Model.Id })
    </p>
</div>
<p>
    @Html.ActionLink("Back", "ProfilAnsicht")
</p>
